* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
}
.header-area {
  /* background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), */
  background: url(image/10.jpg);
  background-position: center;
  background-size: cover;
}
.navbar-area {
  background: rgba(0, 0, 0, 0.6);
  border-bottom: 1px solid #000;
}
.site-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
a.site-logo {
  font-size: 26px;
  font-weight: 800;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
}
.site-navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.site-navbar ul li a {
  color: white;
  padding: 20px;
  display: block;
  text-decoration: none;
  border-radius: 200px;
  border-style: outset;
  text-transform: uppercase;
}
.site-navbar ul li a:hover {
  background: #ffa000;
}
.nav-toggler {
  border: 3px solid white;
  padding: 5px;
  background-color: transparent;
  height: 39px;
  display: none;
}
.nav-toggler span,
.nav-toggler span:before,
.nav-toggler span::after {
  width: 28px;
  height: 3px;
  background-color: #fff;
  display: block;
  transition: 0.3s;
}
.nav-toggler span:before {
  content: "";
  transform: translateY(-9px);
}
.nav-toggler span::after {
  content: "";
  transform: translateY(6px);
}
.nav-toggler .toggler-open span {
  background-color: transparent;
}
.nav-toggler.toggler-open span::before {
  transform: translateY(0px) rotate(45deg);
}
.nav-toggler.toggler-open span::after {
  transform: translateY(-3px) rotate(-45deg);
}
.intro-area {
  height: calc(100vh - 61px);
  display: flex;
  align-items: center;
  text-align: center;
  color: white;
}
.intro-area h2 {
  font-size: 50px;
  font-weight: 300;
  line-height: 50px;
  margin-bottom: 25px;
}
.intro-area p {
  font-size: 18px;
}
@media screen and (max-width: 767px) {
  .container {
    max-width: 720px;
  }
  .nav-toggler {
    display: block;
  }
  .site-navbar {
    max-height: 60px;
  }
  .site-navbar ul {
    position: absolute;
    width: 100%;
    height: calc(100vh - 60px);
    left: 0;
    top: 60px;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid #444;
    background-color: rgba(0, 0, 0, 0.75);
    max-height: 0;
    overflow: hidden;
    transition: 0.3s;
  }
  .site-navbar ul li {
    width: 100%;
    text-align: center;
  }
  .site-navbar ul li a {
    padding: 25px;
  }
  .site-navbar ul li a:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .site-navbar ul.open {
    max-height: 100vh;
    overflow: visible;
  }
  .intro-area h2 {
    font-size: 36px;
    margin-bottom: 15px;
  }
}
.cards {
  position: relative;
  padding: 80px 60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cards.style-1 {
  background: #83a4d3;
  background: -webkit-linear-gradient(to right, #f56b1b, #ab0531, #3f808b);
  background: linear-gradient(to right, #f56b1b, #ab0531, #3f808b);
}
.cards.col {
  -webkit-flex-basis: 0;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex: 0 0 33.333%;
  -ms-flex: 0 0 33.333%;
  flex: 0 0 33.333%;
  max-width: 33.333%;
  padding: 0 30px;
}
.card {
  position: relative;
  color: #fff;
  background-color: #00b7c2;
  border-radius: 8px;
  overflow: hidden;
  margin: 20px;
  margin-left: 50px;
}
.card-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
}

/* table css */
h2 {
  margin-top: 50px;
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: black;
  padding: 30px, 0;
}

.table-wrapper {
  margin-top: 80px;
  /* margin: 10px 70px 70px; */
  box-shadow: 0px m5px 50px rgb(0, 0, 0, 0.2);
}

.f1-table {
  border-radius: 5px;
  font-size: 12px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
  background-color: whitesmoke;
}

.f1-table td,
.f1-table th {
  text-align: center;
  padding: 8px;
}

.f1-table td {
  border-right: 1px solid white;
  font-size: 12px;
}

.f1-table thead th {
  color: black;
  background: #4fc3a1;
}

.f1-table thead th:nth-child(odd) {
  color: white;
  background: #324960;
}

.f1-table tr:nth-child(even) {
  background: white;
}
/* footer css start from here */
.site-footer {
  margin-top: 50px;
  background-color: #444;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
}
.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}
.site-footer h6 {
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}
.site_footer a:hover {
  color: #3366cc;
  text-decoration: none;
}
.copyright-text {
  margin-left: 280px;
}
@media (max-width: 991px) {
  .site-footer[class^="col-"] {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0px;
  }
  .site-footer .copyright-text {
    text-align: center;
  }
}
